.welcome{
    margin-left: 20px;
}
.menu{
    margin-left: 10px;
}
.active{
    color :aliceblue;
    background-color: #1877F2;
}
.boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 40%;
   
    
}
.box{
    margin:5px;
    border-radius: 10px;
    padding:10px;
}

.box-color1{
background:#37886a;
color:aliceblue;

}
.box-color2{
    background:#562952dc;
    color:aliceblue;
   
    }
    .box-color3{
        background:#786d32dc;
        color:aliceblue;
       
        }

    .chartdiv{
       
        display: flex;
        flex-direction: row;
       justify-content: center;

    }
    .outer-box{
        display: flex;
        flex-direction: column;
        margin-left:100px;
        
    }
    .ml-50{
        margin-left:50px;
    }
    .linegraph{
        height :500px;
        width :80%;
    }
   .calendar{
    margin-top:10px;
   }
   .calendar-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Title of the calendar */
  .calendar-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Event titles */
  .fc-title {
    font-weight: bold;
  }
  
  /* Event background color */
  .fc-event {
    background-color: #ff7f50; /* Coral */
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Event hover effect */
  .fc-event:hover {
    background-color: #ff6347; /* Tomato */
  }
  
  /* Today's date */
  .fc-day-today {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  /* Event dot color */
  .fc-event-dot {
    background-color: #4682b4; /* Steel Blue */
  }
  
  /* Event dot hover effect */
  .fc-event-dot:hover {
    background-color: #4169e1; /* Royal Blue */
  }