.welcome{
    margin-left: 20px;
}
.menu{
    margin-left: 10px;
}
.active{
    color :aliceblue;
    background-color: #1877F2;
}
.boxes{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    margin-top: 40%;
   
    
}
.box{
    margin:5px;
    border-radius: 10px;
    padding:10px;
}

.box-color1{
background:#7f3333;
color:aliceblue;

}
.box-color2{
    background:#59b54ddc;
    color:aliceblue;
   
    }
    .box-color3{
        background:#786d32dc;
        color:aliceblue;
       
        }

    .chartdiv{
        display: flex;
        flex-direction: row;

    }
    .outer-box{
        display: flex;
        flex-direction: column;
        margin-left:100px;
        
    }
    .ml-50{
        margin-left:50px;
    }
    .linegraph{
        height :500px;
        width :80%;
    }
   
    /* calendar.css */
.calendar-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .fc-day-grid-event {
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  .fc-day-grid-event:hover {
    background-color: #0056b3;
  }
  
  .fc-daygrid-event-dot {
    background-color: #28a745;
  }
  
  .fc-daygrid-event-dot:hover {
    background-color: #218838;
  }
  